div {
	z-index: 1;
}

body {
	margin: 0;
	height: 900px;
	background-repeat: repeat;
	background-size: 100%;
	background-image: url("brickwall_@2X.png");
}

.background img {
	opacity: 0.3;
}

button {  
	background-color: #FFD33C;
	border-radius: 4px;
	text-align: center;
	top: 300px;
	font-family: "Futura Bold", Futura, sans-serif;
	width: 200px;
	height: 75px;
	font-size: 20px;
	padding: 5px;
	font-weight: lighter;
	border: 0px;
}

p {
	font-family: "Futura Bold", Futura, sans-serif;
	color: #2e363b;
}

a:visited {
	color: #FFF;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -0.05em;
	color: #2e363b;
	font-family: "Futura Bold", Futura, sans-serif;
	vertical-align: center;
	text-align: center;
	padding-top: 100px;
	margin-bottom: 7px;
	line-height: -px;
}